extends ./broad-layout.jade
block css
    link(rel="stylesheet" href="/assets/dist/css/column.css")
block body
    .uk-grid.uk-grid-collapse
        .uk-width-1-1
            .uk-block.art-column-banner
                .art-column-banner-main
                    input#column-id(type="hidden" value=column.id)
                    .uk-text-left
                        h2= column.name
                        p.uk-text-muted= "创建于" + column.created
            .uk-block.art-column-body
                .art-column-body-main
                    .uk-grid.uk-grid-collapse
                        .uk-width-3-4
                            #posts-list.posts-list
                        .uk-width-1-4.uk-clearfix
                            .column-right-panel.uk-float-right
    script#posts-template(type="text/template")
        .uk-grid.uk-grid-collapse.post
            .uk-width-4-6
                a.title(href="")
            .uk-width-1-6
                span.date
            .uk-width-1-6
                .uk-text-right
                    i.uk-icon-heart-o
                    span &nbsp;
                    span.star

block js-load
    script(src="/assets/dist/js/site_column.js")
