extends ./layout.jade
block css
    link(rel="stylesheet" href="/assets/dist/css/site_column.css")
block body
    .uk-grid.uk-grid-collapse
        .uk-width-3-4
            .uk-grid.uk-grid-collapse
                each column in columns
                    .uk-width-1-3
                        .column
                            a(href="/")= column.name
                            .column-caption
                                p= column.lastModified


        .uk-width-1-4.uk-clearfix
            .art-columns-right.uk-float-right
