extends ./broad-layout.jade
block css
    link(rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css")
    link(rel="stylesheet" href="/bower_components/uikit/css/components/htmleditor.min.css")
block body
    form.art-edit.uk-form
        fieldset
            legend
                span= "编辑文章"
        .uk-grid.uk-grid-collapse
            .uk-width-1-1.uk-form-controls-condensed
                input.uk-width-1-1(type="text" placeholder="请输入文章标题")
            .uk-width-1-1.uk-form-controls-condensed
                textarea(data-uk-htmleditor="{markdown:true, mode:'split', lblPreview:'预览'}")
            .uk-width-1-1.uk-form-controls-condensed
                .uk-text-left
                    button.uk-button.uk-button-primary= "发表文章"
block js-load
    script(src="/bower_components/codemirror/lib/codemirror.js")
    script(src="/bower_components/marked/marked.min.js")
    script(src="/bower_components/uikit/js/components/htmleditor.min.js")