extends ./layout.jade
block css
    link(rel="stylesheet" href="/assets/dist/css/post.css")
block body
    .uk-grid.uk-grid-collapse.posts-layout
        .uk-width-3-4
            .main
                .art-post-body
                    .post-title.uk-clearfix
                        .post-author.uk-float-left
                        a.uk-float-left(href="javascript:;")
                            h3= post.title
                    .post-content
                        div= post.content
                    .post-footer
                        span= "发布于"
                        strong= post.lastModified
        .uk-width-1-4
            .right-side
            .right-side
            .right-side
            .right-side