extends ./layout.jade
block body
    .uk-grid.uk-grid-collapse
        .uk-width-1-1
            ul.uk-breadcrumb
                li
                    a(href="/") 首页
                li.uk-active
                    span 商店