.column {
    width: 96%;
    height: 96px;
    padding: 10px 0 5px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    z-index: 1;
    .column-caption {
        width: 100%;
        height: 30px;
        position: absolute;
        line-height: 30px;
        z-index: 10;
        bottom: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
    }
}

.art-columns-right {
    width: 96%;
}
