html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #eee;
}

body {
    padding-top: 69px;
    //font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

p, h1, h2, h3, h4, h5, h6, strong, a {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif !important;
}

.link-white {
    color: #fff;
}

.separator-inline {
    display: inline-block;
    padding: 0 3px;
}

.ul-inline {
    margin: 0;
    li {
        float: left;
        padding-right: 8px;
    }
    li:last-child {
        padding: 0;
    }
}

.art-header {
    width: 100%;
    height: 55px;
    background-color: #0099cc;
    position: fixed;
    top: 0;
    color: #fff;
    border-bottom: 1px solid #167898;
    box-shadow: 0 0 3px #c0c0c0;
    z-index: 999;
    .header-main {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        .brand {
            width: 100px;
            padding-top: 15px;
            float: left;
            font-size: 23px;
            .logo {
                height: 100%;
            }
            .title {
                padding-left: 5px;
            }
            .sub-title {
                font-size: 11px;
            }
        }
        .nav-left {
            margin-left: 20px;
            padding-top: 18px;
            font-size: 16px;
            a {
                color: #fff;
            }
            a:hover {
                color: #eee;
            }
        }
        .nav-right {
            height: 100%;
            .nav-has-dropdown {
                width: 96px;
                height: 100%;
                position: relative;
                text-align: center;
                line-height: 55px;
                .nav-dropdown {
                    width: 100%;
                    position: absolute;
                    top: 55px;
                    background-color: #028BB9;
                    box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    border-radius: 0 0 3px 3px;
                    display: none;
                    .nav-dropdown-item {
                        height: 45px;
                        line-height: 45px;
                        border-top: 1px solid #319CAD;
                        a {
                            color: #fff;
                        }
                    }
                    .nav-dropdown-item:first-child {
                        border-top: 0;
                    }
                    .nav-dropdown-item:hover {
                        background-color: #0099cc;
                    }
                }
            }
            .nav-has-dropdown:hover {
                background-color: #028BB9;
                box-shadow: 0 1px 1px #888;
            }
            .add-post-fun {
                width: 26px;
                height: 26px;
                line-height: 26px;
                text-align: center;
                display: inline-block;
                background-color: #126FBF;
                //border: 1px solid #eee;
            }
        }
    }
    a:hover {
        color: #eee;
        text-decoration: none;
    }
}

.art-main {
    width: 1000px;
    margin: 0 auto;
}

.art-broad-main {
    width: 86%;
    margin: 0 auto;
}

.main {
    width: 98%;
    min-height: 100px;
    border: 1px solid #e0e0e0;
    //border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 3px #eee;
    .art-nav {
        width: 100%;
        font-size: 13px;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: 0 0 3px #eee;
        ul {
            padding: 10px 6px 8px;
            .nav {
                margin-left: 6px;
                padding: 1px 5px;
                border: 1px solid #2683B1;
                border-radius: 3px;
                background-color: #3399cc;
                font-size: 12px;
                transition: background-color .3s;
                a:hover {
                    color: #fff;
                }
            }
            .nav:hover {
                background-color: #0F6C9A;
            }
        }
    }
}
.art-content {
    .art-post {
        min-height: 60px;
        padding: 0 10px;
        border-bottom: 1px solid #e0e0e0;
        .art-author-avatar {
            width: 36px;
            height: 36px;
            margin-top: 12px;
            cursor: pointer;
            background: url(/assets/img/avatar.svg) no-repeat;
            background-size: contain;
            //border: 1px solid #e0e0e0;
            //border-radius: 3px;
            transition: all .3s;
        }
        .art-author-avatar:hover {
            box-shadow: 0 0 3px #e0e0e0;
        }
        .art-post-title {
            max-width: 60%;
            min-height: 36px;
            margin-top: 12px;
            padding: 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .title {
                font-size: 16px;
                color: #555;
            }
            .title:hover {
                color: #333;
                text-decoration: underline;
            }
            .title:visited {
                font-weight: normal;
            }
            .post-info {
                font-size: 11px;
                color: #ccc;
                a {
                    color: #666;
                }
                .post-date {
                    color: #666;
                }
            }
        }
        .art-post-date {
            height: 100%;
            padding: 0 3px;
            line-height: 50px;
        }
    }
    .art-post:last-child {
        border-bottom: 0;
    }
    .art-post:hover {
        background-color: #f9f9f9;
    }
}

.right-side {
    min-height: 100px;
    margin-bottom: 6px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 3px #eee;
    background-color: #fff;
}

.right-side:last-child {
    margin-bottom: 0;
}

.art-category {
    width: 960px;
    height: 30px;
    margin: 10px auto;
    border: 1px solid #fafafa;
}

.footer {
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #e0e0e0;
    ul {
        width: 1000px;
        margin: 0 auto;
        padding-top: 3px;
        font-size: 12px;
        text-align: center;
        a {
            color: #3399cc;
        }
    }
}
