.setting-area {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#avatar-setting {
    .uk-overlay {
        max-width: 200px;
        max-height: 200px;
    }
}