.art-header
    .header-main.uk-clearfix
        .brand
            a.link-white(href="/") 麦芽
        ul.uk-float-right.uk-list.ul-inline
            li
                a.link-white(href="/users/login") 登录
            li
                a.link-white(href="/") 投稿