.art-header
    .header-main.uk-clearfix
        .brand
            .title
                a.link-white(href="/" title="麦苗") 麦苗
            .sub-title -为品质生活努力-
                //img.logo(src="/assets/img/maiya.png")
        .nav-left.uk-float-left
            ul.uk-list.ul-inline
                //li
                //    a(href="/site/qa") 问答
                li
                    a(href="/site/topic") 话题
                li
                    a(href="/site/column") 专栏
                //li
                //    a(href="/site/shop") 店铺
        ul.uk-float-right.uk-list.ul-inline.nav-right
            li.nav-has-dropdown
                if (user)
                    a.link-white(href="javascript:;")
                        if (user.avatar)
                            img.user-avatar(src=user.avatar+"?imageView2/0/w/30/h/30")
                        else
                            img.user-avatar(src="/assets/img/avatar.svg")
                        span= user.nick
                        | &nbsp;
                        i.uk-icon-angle-down
                    .nav-dropdown
                        a(href="/users/setting")
                            .nav-dropdown-item
                                i.uk-icon-cog
                                span &nbsp;账户设置
                        a(href="/users/column")
                            .nav-dropdown-item
                                i.uk-icon-book
                                span &nbsp;我的专栏
                        a(href="/users/logout")
                            .nav-dropdown-item
                                i.uk-icon-sign-out
                                span &nbsp;退出登录
                    input#current-user(type="hidden" value=user.nick)
                - else
                    a.link-white#login-link(href="javascript:;" data-uk-modal="{target: '#login-modal',bgclose: false}")= "登录"