.art-header
    .header-main.uk-clearfix
        .brand
            a(href="/") 麦芽
        ul.uk-float-right.uk-list.ul-inline
            li
                a(href="/") 登录
            li
                a(href="/") 投稿