.art-header
    .header-main.uk-clearfix
        .brand
            .title
                a.link-white(href="/" title="麦芽")= "麦芽"
            .sub-title -为品质生活努力-
                //img.logo(src="/assets/img/maiya.png")
        .nav-left.uk-float-left
            ul.uk-list.ul-inline
                li
                    a(href="/site/discuss") 讨论
                li
                    a(href="/site/topic") 话题
                li
                    a(href="/site/posts") 文章
                li
                    a(href="/site/shop") 商店
        ul.uk-float-right.uk-list.ul-inline.nav-right
            li.nav-has-dropdown
                - if (user)
                    a.link-white(href="/users/" + user.nick)= user.nick
                    .nav-dropdown
                            .nav-dropdown-item
                                a(href="/") 账户设置
                            .nav-dropdown-item
                                a(href="/") 我的商店
                            .nav-dropdown-item
                                a(href="/") 我的文章
                            .nav-dropdown-item
                                a(href="/users/logout") 退出登录
                - else
                    a.link-white#login-link(href="javascript:;" data-uk-modal="{target: '#login-modal',bgclose: false}")= "登录"