extends ../layout.jade
block body
    .uk-grid.uk-grid-collapse
        .uk-width-1-1
            - if (!data || !data.column_active)
                .uk-alert.uk-alert-warning 您的专栏尚未开通，无法查看专栏信息
                a.uk-button.uk-button-large.uk-button-primary(type="button" href="/users/setting#shop-setting") 开通专栏
            - else
                .uk-block.uk-block-default
                    h3= data.name
                    img(src=data.user.avatar)
