extends ../layout.jade
block css
    link(rel="stylesheet" href="/bower_components/uikit/css/components/datepicker.min.css")
    link(rel="stylesheet" href="/bower_components/uikit/css/components/upload.min.css")
    link(rel="stylesheet" href="/bower_components/uikit/css/components/progress.min.css")
    link(rel="stylesheet" href="/assets/dist/css/user_setting.css")
block body
    .uk-grid.uk-grid-collapse
        .uk-width-1-1
            ul.uk-breadcrumb
                li
                    a(href="/") 首页
                li.uk-active
                    span 用户设置
            .art-user-setting.uk-grid
                .uk-width-1-4
                    .uk-panel.uk-panel-box.art-border#side-menu
                        .uk-nav-header.uk-text-primary
                            i.uk-icon-navicon
                            span &nbsp;资料设置
                        ul.uk-nav.uk-nav-side
                            li.uk-active.menu-item
                                a(href="#profile-setting") 个人资料
                            li.menu-item
                                a(href="#password-setting") 修改密码
                            li.menu-item
                                a(href="#avatar-setting") 修改头像
                            li.menu-item
                                a(href="#email") 修改邮箱
                        .uk-nav-header.uk-text-primary
                            i.uk-icon-navicon
                            span &nbsp;专栏设置
                        ul.uk-nav.uk-nav-side
                            li.menu-item
                                a(href="#column-setting") 开通专栏
                            li.menu-item
                                a(href="#post") 文章管理
                        .uk-nav-header.uk-text-primary
                            i.uk-icon-navicon
                            span &nbsp;店铺设置
                        ul.uk-nav.uk-nav-side
                            li.menu-item
                                a(href="#shop-setting") 开通店铺
                            li.menu-item
                                a(href="#goods-setting") 上传商品
                .uk-width-3-4.uk-clearfix
                    .setting-area.uk-float-right
                        #setting-panel
                            form.uk-form.uk-form-horizontal#profile-setting
                                fieldset
                                    legend.uk-text-primary
                                        i.uk-icon-user
                                        span &nbsp;个人资料
                                .uk-form-row
                                    label.uk-form-label 性别
                                    .uk-form-controls
                                        input(type="radio" name="gender" value="1")
                                        label &nbsp;男
                                        .separator-inline &nbsp;
                                        input(type="radio" name="gender" value="0")
                                        label &nbsp;女
                                .uk-form-row
                                    label.uk-form-label 生日
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-calendar
                                            input.uk-form-width-medium(type="text" name="birthday" data-uk-datepicker="{i18n:{months:['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']},weekdays:['星期一','星期二','星期三','星期四','星期五','星期六','星期日']}")
                                .uk-form-row.uk-text-right
                                    button.uk-button.uk-button-primary 确认提交
                            form.uk-form.uk-form-horizontal.uk-hidden#password-setting
                                fieldset
                                    legend.uk-text-primary
                                        i.uk-icon-lock &nbsp;修改密码
                                .uk-form-row
                                    label.uk-form-label 旧密码
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-lock
                                            input.uk-form-width-medium(type="password" name="old_password")
                                .uk-form-row
                                    label.uk-form-label 新密码
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-lock
                                            input.uk-form-width-medium(type="password" name="password")
                                .uk-form-row
                                    label.uk-form-label 确认新密码
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-lock
                                            input.uk-form-width-medium(type="password" name="check_password")
                                .uk-form-row.uk-text-right
                                    button.uk-button.uk-button-primary 确认修改
                            form.uk-form.uk-form-horizontal.uk-hidden#avatar-setting
                                fieldset
                                    legend.uk-text-primary
                                        i.uk-icon-image &nbsp;修改头像
                                figure.uk-overlay
                                    if current_user.avatar
                                        img(src=current_user.avatar+"?imageView2/0/w/200/h/200")
                                    else
                                        img(src="/assets/img/avatar.svg")
                                    figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom
                                        a#avatar-select(href="javascript:;") 更换头像
                                        input#actual-avatar-select.uk-hidden(type="file" name="avatar")
                                #progressbar.uk-progress.uk-hidden
                                    .uk-progress-bar(style="width: 0%;")
                            br
                            form.uk-form.uk-form-horizontal.uk-hidden#shop-setting
                                fieldset
                                    legend.uk-text-primary
                                        i.uk-icon-shopping-bag &nbsp;店铺设置
                                .uk-form-row.uk-hidden#shop-setting-alert
                                    .uk-alert.uk-alert-success
                                .uk-form-row
                                    label.uk-form-label 店铺名
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-registered
                                            input.uk-form-width-medium(type="text" name="shop_name")
                                //.uk-form-row
                                //    label.uk-form-label 品牌图片
                                //    .uk-form-controls
                                //        input(type="file")
                                .uk-form-row.uk-text-right
                                    button.uk-button.uk-button-primary#avtive-shop-button 开通店铺
                            form.uk-form.uk-form-horizontal.uk-hidden#column-setting
                                fieldset
                                    legend.uk-text-primary
                                        i.uk-icon-shopping-bag &nbsp;专栏设置
                                .uk-form-row.uk-hidden#column-setting-alert
                                    .uk-alert.uk-alert-success
                                .uk-form-row
                                    label.uk-form-label 专栏名称
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-registered
                                            input.uk-form-width-medium(type="text" name="column_name")
                                .uk-form-row.uk-text-right
                                    button.uk-button.uk-button-primary#active-column-button 开通专栏
                            form.uk-form.uk-form-horizontal.uk-hidden#goods-setting
                                fieldset
                                    legend.uk-text-primary
                                        i.uk-icon-goods-bag &nbsp;上传商品
                                .uk-form-row.uk-hidden#goods-setting-alert
                                    .uk-alert.uk-alert-success
                                .uk-form-row
                                    label.uk-form-label 商品名称
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-registered
                                            input.uk-form-width-medium(type="text" name="goods_name")
                                .uk-form-row
                                    label.uk-form-label 商品价格
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-cny
                                            input.uk-form-width-medium(type="text" name="goods_price")
                                .uk-form-row
                                    label.uk-form-label 商品库存
                                    .uk-form-controls
                                        .uk-form-icon
                                            i.uk-icon-shopping-basket
                                            input.uk-form-width-medium(type="text" name="goods_inventory")
                                .uk-form-row
                                    label.uk-form-label 实物图片
                                        span.uk-text-danger (限三张)
                                    .uk-form-controls
                                        a.uk-thumbnail(href="javascript:;")
                                            img.goods-img(src="/assets/img/fruit_default.jpg" alt="默认图片" data-default="1")
                                            .uk-thumbnail-caption 点击上传
                                .uk-form-row.uk-text-right
                                    button.uk-button.uk-button-primary#active-goods-button 确认上传
    input#user-id(type="hidden" value=user.id)

block js-load
    script(src="/bower_components/uikit/js/components/datepicker.min.js")
    script(src="/bower_components/uikit/js/components/upload.min.js")
    script(src="/assets/dist/js/user_setting.js")
